@page "/events/{eventId:guid}/users"
@inject HttpClient HttpClient
@inject NavigationManager NavManager
@inject UserStore UserStore
@inject AttendanceStore AttendanceStore
@inject IModalService ModalService
@implements IDisposable
@attribute [Authorize(Roles = "Employee, Admin")]

<h3>@Event.Name</h3>
<p>@Event.Price</p>

<div class="@disabled">
    <button class="btn btn-success" @onclick="ShowConfirmAttendance">Confirm</button>
    <UserContainer OnMovedUser="RerenderUsers" SignedUpUsers="UserStore.UsersFromEvent">
        <UserList UserStatus="@UserStatus.Invited" />
        <UserList UserStatus="@UserStatus.Registered" />
        <UserList UserStatus="@UserStatus.Cancelled" />
    </UserContainer>
</div>

@code {
    [Parameter]
    public Guid EventId { get; set; }
    private string disabled = "";

    private GetSingleEventViewModel Event { get; set; } = new GetSingleEventViewModel();

    protected override async Task OnInitializedAsync()
    {
        Event = await HttpClient.GetJsonAsync<GetSingleEventViewModel>($"api/events/{EventId}");
        DisableDashboardContent(Event.Attendance);
        await GetUsersDependingOnEarlierViset(UserStore.UsersFromEvent.Count());
    }

    private void RerenderUsers()
    {
        this.StateHasChanged();
    }

    private async Task GetUsersDependingOnEarlierViset(int numberOfUsers)
    {
        if (numberOfUsers == 0) //This check guarantees that if user moves users, and leaves the page, it will not reset the page. You will need to reload the page to do that
        {
            UserStore.UsersFromEvent = await HttpClient.GetJsonAsync<IEnumerable<GetUserFromEventViewModel>>($"api/user/{EventId}/users");
            foreach (var user in UserStore.UsersFromEvent)
            {
                user.Status = UserStatus.Invited;
            }
        }
        else
        {
            UserStore.UsersFromEvent = await HttpClient.GetJsonAsync<IEnumerable<GetUserFromEventViewModel>>($"api/user/{EventId}/users");
        }
    }

    private void ShowConfirmAttendance()
    {
        var parameter = new ModalParameters();
        parameter.Add("Event", Event);
        ModalService.Show<ConfirmAttendance>("Confirm attendance", parameter);
    }

    private void DisableDashboardContent(GetAttendanceViewModel attendance)
    {
        if (attendance == null) return; //If attendance is null, we know the event cannot be finished
        if (attendance.Finished == true) disabled = "disabled";
    }

    public void Dispose()
    {
        UserStore.UsersFromEvent = new List<GetUserFromEventViewModel>();
    }
}
