@page  "/stores"
@inject HttpClient HttpClient
@inject StoreStore StoreStore

<h3>Stores</h3>

@foreach (var store in StoreStore.Stores)
{
    <p>@store.Name</p>
    <p>@store.Address.RoadName , @store.Address.RoadNumber</p>
    <p>@store.Region.Name</p>
    <p>@store.City.Name</p>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        StoreStore.Stores = await HttpClient.GetJsonAsync<IEnumerable<GetStoreListViewModel>>("api/store");
    }
}
