@page  "/stores"
@inject HttpClient HttpClient
@inject StoreStore StoreStore
@inject NavigationManager NavManager

<h3>Butikker</h3>
<div class="event-">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Navn</th>
                <th scope="col">Adresse</th>
                <th scope="col">Region</th>
                <th scope="col">By</th>
            </tr>
        </thead>
        @foreach (var store in StoreStore.Stores)
        {
            <tbody>
                <tr class="pointer" @onclick="@(() => NavigateToStore(store.Id))">
                    <td>@store.Name</td>
                    <td>@store.Address.RoadName @store.Address.RoadNumber</td>
                    <td>@store.Region.Name</td>
                    <td>@store.City.Name</td>
                </tr>
            </tbody>
        }
    </table>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        StoreStore.Stores = await HttpClient.GetJsonAsync<IEnumerable<GetStoreListViewModel>>("api/store");
    }

    private void NavigateToStore(Guid storeId)
    {
        NavManager.NavigateTo($"/store/{storeId}");
    }
}
