<div class="process-container">
    <div class="process @Active">1 @Step.Kurv</div>
    <div class="process @Active">2 @Step.Levering</div>
    <div class="process @Active">3 @Step.Betaling</div>
    <div class="process @Active">4 @Step.Kvittering</div>

</div>


@code {

    [Parameter]
    public Step Step { get; set; }

    public Array Steps { get; set; }
    public string Active { get; set; } = "";
}
