<div class="process-container">
    <div class="process @Active">1 @Step.Basket</div>
    <div class="process @Active">2 @Step.Delivery</div>
    <div class="process @Active">3 @Step.Payment</div>
    <div class="process @Active">4 @Step.Receipt</div>

</div>


@code {

    [Parameter]
    public Step Step { get; set; }

    public Array Steps { get; set; }
    public string Active { get; set; } = "";
}
