@page "/{eventId:guid}/event/details"
@inject HttpClient HttpClient
@inject EventStore EventStore
@inject AuthStore AuthStore
@inject UserStore UserStore
@inject IModalService ModalService
@inject ThemeStore Theme

@if (EventStore.Event == null || EventStore.Event.City == null)
{
<h3>Event</h3>
    <text>Loading..</text>
}
else
{


<div class="event-details-container">
    <div>
<AuthorizeView Policy="@Policies.IsAdmin">
    <MatButton Class="padding" Raised="true" OnClick="@(() => OpenConfirmDeleteEvent())">Delete</MatButton>
</AuthorizeView>
        <MatCard Class="details-container">
            <MatCardContent>
                <MatThemeProvider Theme="Theme.Main">
                    <div class="eventdetails-card">
                        <MatHeadline1 Class="no-wrap">@EventStore.Event.Name</MatHeadline1>
                        <MatH4>@EventStore.Event.Price kr.</MatH4>
                        <MatBody2>
                            <p>@EventStore.Event.Description</p>
                        </MatBody2>
                        @if (EventStore.Event.PayOnline)
                        {
                            <MatSubtitle2>Antal billeter</MatSubtitle2>
                            <MatInputTextComponent @bind-Value="@ticketAmount" />
                            @*@if (EventStore.Event.Food != null)
                            {
                                <MatSubtitle2>How many are eating?</MatSubtitle2>
                                <MatInputTextComponent @bind-Value="@foodAmount" />
                            }*@
                            <MatButton Raised="true" type="submit" disabled="@disabled" @onclick="@(() => BookEventForUser())">Book event</MatButton>
                        }
                        else
                        {
                            <MatSubtitle2>Dette arrangement kan kun købes i butikken.</MatSubtitle2>
                        }
                    </div>
                </MatThemeProvider>
            </MatCardContent>
        </MatCard>
    </div>
    @if (EventStore.Event.PayOnline == true)
    {
        <div class="flex-column">
            <h3>Vejen til Arrangementet</h3>
            <div class="track-order-map">
                <Map Zoom="15" Marker="@EventStore.Event.Marker" AddressModel="@EventStore.Event.Address" City="@EventStore.Event.City" PayOnline="true" />
            </div>
        </div>
    }
    else
    {
        <div>
            <h3>Vejen til @EventStore.Event.Store.Name</h3>
            <div class="track-order-map">
                <Map Zoom="15" Marker="@EventStore.Event.Store.Marker" AddressModel="@EventStore.Event.Store.Address" City="@EventStore.Event.Store.City" PayOnline="false" />
            </div>
        </div>
    }
</div>
}

@code {

    [Parameter]
    public Guid EventId { get; set; }
    private bool disabled { get; set; }
    private int ticketAmount = 0;
    private int foodAmount = 0;
    private string EventIsFull = "hide";

    protected override async Task OnInitializedAsync()
    {
        EventIsFull = "hide";
        EventStore.Event = await HttpClient.GetJsonAsync<GetSingleEventViewModel>($"api/events/{EventId}");
        UserStore.UsersFromEvent = await HttpClient.GetJsonAsync<IEnumerable<GetUserFromEventViewModel>>($"api/user/{EventId}/users");
        CanBookOnline();
        //UserAlreadyBookedEvent();
        EventIsFullyBooked();
    }

    private async Task BookEventForUser()
    {
        var userEvent = new AddUserToEventViewModel()
        {
            UserId = AuthStore.User.Id,
            EventId = EventId,
            TicketAmount = ticketAmount
        };

        if (EventStore.Event.CurrentAmountOfCustomers + ticketAmount > EventStore.Event.MaxCustomerLimit)
        {
            EventIsFull = "display";
        }
        else
        {
            try
            {
                await HttpClient.PostJsonAsync<AddUserToEventViewModel>($"api/user/{EventId}/book/event", userEvent);
            }
            catch (Exception)
            {
                EventStore.NotifyBookedEvent();
                throw;
            }
        }
    }

    private void OpenConfirmDeleteEvent()
    {
        var options = new ModalParameters();
        options.Add("Event", EventStore.Event);
        ModalService.Show<ConfirmDeleteEvent>("Are you sure?", options);
    }

    private void EventIsFullyBooked()
    {
        if (EventStore.Event.CurrentAmountOfCustomers >= EventStore.Event.MaxCustomerLimit)
        {
            disabled = true;
        }
    }

    private void CanBookOnline()
    {
        if (EventStore.Event.PayOnline == false)
        {
            disabled = true;
        }
        else
        {
            disabled = false;
        }
    }

    private void UserAlreadyBookedEvent()
    {
        foreach (var user in UserStore.UsersFromEvent)
        {
            if (AuthStore.User.Id == user.Id)
            {
                disabled = true;
                return;
            }
        }
    }
}
