@page "/{eventId:guid}/event/details"
@inject HttpClient HttpClient
@inject EventStore EventStore
@inject AuthStore AuthStore
@inject UserStore UserStore
@inject IModalService ModalService
@inject ThemeStore Theme

@if (EventStore.Event == null || EventStore.Event.City == null)
{
<h3>Event</h3>
    <text>Loading..</text>
}
else
{
<AuthorizeView Policy="@Policies.IsAdmin">
    <MatButton Raised="true" OnClick="@(() => OpenConfirmDeleteEvent())">Delete</MatButton>
</AuthorizeView>
<div class="event-details-container">
    <div>

        <MatCard Class="details-container">
            <MatCardContent>
                <MatThemeProvider Theme="Theme.Main">
                    <div class="eventdetails-card">
                        <MatHeadline1>@EventStore.Event.Name</MatHeadline1>
                        <MatH4>@EventStore.Event.Price</MatH4>
                        <MatBody2>
                            <p>@EventStore.Event.Description</p>
                        </MatBody2>
                        <MatSubtitle2>How many tickets would you like to buy?</MatSubtitle2>
                        <MatInputTextComponent @bind-Value="@ticketAmount" />
                        <MatButton type="submit" disabled="@disabled" @onclick="@(() => BookEventForUser())">Book event</MatButton>
                    </div>
                </MatThemeProvider>
            </MatCardContent>
        </MatCard>
    </div>
    @*<input @bind-value="@ticketAmount" />
        <p class="@EventIsFull warning">You are about to overbook this event, which you cannot do</p>*@
    <div class="track-order-map">
        <Map Zoom="15" Marker="@EventStore.Event.Marker" AddressModel="@EventStore.Event.Address" City="@EventStore.Event.City" />
    </div>
</div>
}

@code {

    [Parameter]
    public Guid EventId { get; set; }
    private bool disabled { get; set; }
    private int ticketAmount = 0;
    private string EventIsFull = "hide";

    protected override async Task OnInitializedAsync()
    {
        EventIsFull = "hide";
        EventStore.Event = await HttpClient.GetJsonAsync<GetSingleEventViewModel>($"api/events/{EventId}");
        UserStore.UsersFromEvent = await HttpClient.GetJsonAsync<IEnumerable<GetUserFromEventViewModel>>($"api/user/{EventId}/users");
        CanBookOnline();
        UserAlreadyBookedEvent();
        EventIsFullyBooked();
    }

    private async Task BookEventForUser()
    {
        var userEvent = new AddUserToEventViewModel()
        {
            UserId = AuthStore.User.Id,
            EventId = EventId,
            TicketAmount = ticketAmount
        };

        if (EventStore.Event.CurrentAmountOfCustomers + ticketAmount > EventStore.Event.MaxCustomerLimit)
        {
            EventIsFull = "display";
        }
        else
        {
            await HttpClient.PostJsonAsync<AddUserToEventViewModel>($"api/user/{EventId}/book/event", userEvent);
            EventStore.NotifyBookedEvent();
        }
    }

    private void OpenConfirmDeleteEvent()
    {
        var options = new ModalParameters();
        options.Add("Event", EventStore.Event);
        ModalService.Show<ConfirmDeleteEvent>("Are you sure?", options);
    }

    private void EventIsFullyBooked()
    {
        if (EventStore.Event.CurrentAmountOfCustomers >= EventStore.Event.MaxCustomerLimit)
        {
            disabled = true;
        }
    }

    private void CanBookOnline()
    {
        if (EventStore.Event.PayOnline == false)
        {
            disabled = true;
        }
        else
        {
            disabled = false;
        }
    }

    private void UserAlreadyBookedEvent()
    {
        foreach (var user in UserStore.UsersFromEvent)
        {
            if (AuthStore.User.Id == user.Id)
            {
                disabled = true;
                return;
            }
        }
    }
}
