@inject IAuthService AuthService
@inject NavigationManager NavManager
@inject AuthStore AuthStore
@inject HttpClient HttpClient

<div class="login">
    <AuthorizeView>
        <Authorizing>
            <text>Processing..</text>
        </Authorizing>
        <Authorized>
            <div>
                <span>Hello, @context.User.Identity.Name</span>
                <button class="sign-out" @onclick="@HandleLogout">Sign out</button>
                <button @onclick="@NavigateToCart">Cart</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                <button class="btn btn-success" @onclick="@(() => NavManager.NavigateTo("/register"))">Register</button> |
                <button class="sign-in" @onclick="@(() => NavManager.NavigateTo("/login"))">Log in</button>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        try
        {
            AuthStore.User = await HttpClient.GetJsonAsync<UserModel>("api/accounts/user");
        }
        catch {}
    }

    private async Task HandleLogout()
    {
        await AuthService.Logout();
        NavManager.NavigateTo("/");
    }

    private void NavigateToCart()
    {
        NavManager.NavigateTo("/cart");
    }
}